* {
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

body {
  width: 100%;
  height: 100%;
  background-image: url("../images/bliss.jpg");
  font-family: 'tahoma', sans-serif; }

.icon-container {
  z-index: -10;
  position: absolute;
  width: 100%;
  height: calc(100vh - 30px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  list-style: none; }
  .icon-container .notepad-icon,
  .icon-container .note-icon {
    position: relative;
    margin: 10px;
    width: 100px;
    min-height: 100px;
    text-align: center; }
    .icon-container .notepad-icon img,
    .icon-container .note-icon img {
      position: inherit;
      width: 54px;
      height: 62px; }
    .icon-container .notepad-icon span,
    .icon-container .note-icon span {
      position: inherit;
      margin: auto; }
    .icon-container .notepad-icon:active span,
    .icon-container .note-icon:active span {
      color: white;
      background: #4267a8; }

.window-container {
  z-index: 10; }
  .window-container .note-window {
    position: absolute;
    width: 604px;
    height: 400px;
    left: 25vw;
    top: 25vh;
    -webkit-touch-callout: text;
    /* iOS Safari */
    -webkit-user-select: text;
    /* Safari */
    -khtml-user-select: text;
    /* Konqueror HTML */
    -moz-user-select: text;
    /* Firefox */
    -ms-user-select: text;
    /* Internet Explorer/Edge */
    user-select: text;
    /* Non-prefixed version, currently
       supported by Chrome and Opera */
    background-image: url("../images/notepad.png");
    background-size: contain;
    background-repeat: no-repeat; }
    .window-container .note-window .dragger {
      position: absolute;
      width: 531px;
      height: 30px; }
      .window-container .note-window .dragger span {
        position: absolute;
        top: 3px;
        left: 26px;
        color: white;
        text-shadow: 1px 1px #333;
        line-height: 30px;
        font-size: 14px;
        font-family: 'tahoma'; }
    .window-container .note-window .control-buttons {
      position: absolute;
      top: 6px;
      right: 6px;
      width: 68px;
      height: 21px; }
      .window-container .note-window .control-buttons .control-button-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 21px;
        height: 21px; }
        .window-container .note-window .control-buttons .control-button-close:active {
          background-image: url("../images/control-button-close.png");
          background-size: contain; }
    .window-container .note-window .file {
      position: absolute;
      left: 4px;
      top: 30px;
      width: 28px;
      height: 20px; }
    .window-container .note-window .file-menu {
      display: none;
      position: absolute;
      left: 4px;
      top: 50px;
      width: 120px;
      height: 143px;
      background-image: url("../images/file-menu.png");
      background-size: contain;
      z-index: 1; }
    .window-container .note-window .file-menu.on {
      display: initial; }
    .window-container .note-window .note-display {
      position: absolute;
      left: 4px;
      top: 51px;
      width: 567px;
      height: 334px;
      padding: 5px;
      background-color: white;
      font-family: 'tahoma', sans-serif; }
      .window-container .note-window .note-display input {
        width: 100%;
        font-size: 18px;
        font-family: 'tahoma', sans-serif; }
      .window-container .note-window .note-display textarea {
        width: 567px;
        height: 334px;
        resize: none;
        border: none;
        outline: none;
        cursor: text;
        font-size: 18px;
        font-family: 'tahoma', sans-serif; }
  .window-container .note-window.on {
    background-image: url("../images/notepad.png"); }

.start-bar {
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  background-image: url("../images/start-bar.png");
  background-size: contain;
  background-repeat: repeat-x; }
  .start-bar .start-button {
    position: absolute;
    left: 0;
    width: 97px;
    height: 30px;
    background-image: url("../images/start-button-off.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .start-bar .start-button.on {
    background-image: url("../images/start-button-on.png"); }
  .start-bar .start-menu {
    display: none;
    position: absolute;
    bottom: 30px;
    width: 382px;
    height: 481.0184210526px;
    background-image: url("../images/start-menu.png");
    background-size: contain; }
  .start-bar .start-menu.on {
    display: initial; }
  .start-bar .tab-container {
    position: absolute;
    display: flex;
    left: 97px;
    width: calc(100vw - 97px - 129px);
    height: 30px; }
    .start-bar .tab-container .tab {
      position: relative;
      display: flex;
      background-image: url("../images/tab-off-center.jpg");
      background-size: contain;
      background-repeat: repeat-x;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 180px; }
      .start-bar .tab-container .tab span {
        position: absolute;
        padding-right: 40px;
        left: 40px;
        line-height: 30px;
        color: white;
        text-shadow: 1px 1px #333;
        font-size: 14px;
        font-family: 'tahoma'; }
      .start-bar .tab-container .tab .tab-image {
        height: 30px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat; }
      .start-bar .tab-container .tab .tab-image.left {
        left: 0;
        width: 40px;
        background-image: url("../images/tab-off-left.jpg"); }
      .start-bar .tab-container .tab .tab-image.right {
        right: 0;
        width: 5px;
        background-image: url("../images/tab-off-right.jpg"); }
    .start-bar .tab-container .tab.on {
      background-image: url("../images/tab-on-center.jpg"); }
      .start-bar .tab-container .tab.on .tab-image.left {
        background-image: url("../images/tab-on-left.jpg"); }
      .start-bar .tab-container .tab.on .tab-image.right {
        background-image: url("../images/tab-on-right.jpg"); }
  .start-bar .start-bar-right {
    position: absolute;
    right: 0;
    width: 129px;
    height: 30px;
    background-image: url("../images/start-bar-right.png");
    background-size: contain;
    background-repeat: no-repeat; }
    .start-bar .start-bar-right .time {
      padding: 8px;
      font-size: 12px;
      text-align: right;
      color: white; }

/*# sourceMappingURL=main.css.map */
