$notepad-height: 400px;
$notepad-width: 604px;
$notepad-dragger-height: 30px;
$control-buttons-width: 73px;
$control-button-width: 21px;

$note-display-width: 567px;
$note-display-height: 334px;
$note-display-left: 4px;
$note-display-top: 51px;

$notepad-icon-width: 54px;
$notepad-icon-height: 62px;

$start-bar-height: 30px;
$start-button-width: 97px;
$start-bar-right-width: 129px;

$start-menu-width: 382px;
$start-menu-height: (957 / 760) * 382px;

$main-height: calc(100vh - #{$start-bar-height});

$highest-z-index: 1000;

* {
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

///////////////////////////////////// body

body {
  width: 100%;
  height: 100%;
  background: {
    image: url('../images/bliss.jpg');
    // size: contain;
    // repeat: no-repeat;
  }

  font-family: 'tahoma', sans-serif;
}

///////////////////////////////////// start bar

.start-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: $start-bar-height;
  z-index: $highest-z-index;

  background: {
    image: url('../images/start-bar.png');
    size: contain;
    repeat: repeat-x;
  }

  .start-button {
    position: absolute;
    left: 0;
    width: $start-button-width;
    height: $start-bar-height;

    background: {
      image: url('../images/start-button-off.png');
      size: contain;
      repeat: no-repeat;
    }
  }
  .start-button.on {
    background-image: url('../images/start-button-on.png');
  }

  .start-menu {
    display: none;
    position: absolute;

    bottom: $start-bar-height;
    width: $start-menu-width;
    height: $start-menu-height;

    z-index: $highest-z-index;

    background: {
      image: url('../images/start-menu.png');
      size: contain;
    }

  }

  .start-bar-right {
    position: absolute;
    right: 0;
    width: $start-bar-right-width;
    height: $start-bar-height;


    background: {
      image: url('../images/start-bar-right.png');
      size: contain;
      repeat: no-repeat;
    }

    .time {
      padding: 8px;

      font-size: 12px;
      text-align: right;
      color: white;
    }
  }
}

///////////////////////////////////// desktop file icons

.note-links {
  position: absolute;
  height: $main-height;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  list-style: none;

  .notepad-icon,
  .note-icon {
    position: relative;
    margin: 10px;

    width: 100px;
    min-height: 100px;
    text-align: center;

    img {
      position: inherit;
      width: $notepad-icon-width;
      height: $notepad-icon-height;
    }

    span {
      position: inherit;
      margin: auto;
    }

    &:active span {
      color: white;
      background: #4267a8;
    }
  }
}

///////////////////////////////////// note display window

.note-window {
  position: absolute;

  width: $notepad-width;
  height: $notepad-height;

  left: 25vw;
  top: 25vh;

  -webkit-touch-callout: text; /* iOS Safari */
   -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
      -moz-user-select: text; /* Firefox */
       -ms-user-select: text; /* Internet Explorer/Edge */
           user-select: text; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */

  background: {
    image: url('../images/notepad.png');
    size: contain;
    repeat: no-repeat;
  }

  .dragger {
    position: absolute;

    width: $notepad-width - $control-buttons-width;
    height: $notepad-dragger-height;

    span {
      position: absolute;
      top: 3px;
      left: 26px;

      color: white;
      text-shadow: 1px 1px #333;
      line-height: $notepad-dragger-height;
      font: {
        size: 14px;
        family: 'tahoma';
      }
    }
  }

  .control-buttons {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 3 * $control-button-width + 5 px;
    height: $control-button-width;

    .control-button-close {
      position: absolute;
      top: 0;
      right: 0;
      width: $control-button-width;
      height: $control-button-width;

      &:active {
        background: {
          image: url('../images/control-button-close.png');
          size: contain;
        }
      }
    }
  }

  .note-display {
    position: absolute;
    left: $note-display-left;
    top: $note-display-top;

    width: $note-display-width;
    height: $note-display-height;
    padding: 5px;

    background-color: white;

    font-family: 'tahoma', sans-serif;

    input {
      width: 100%;

      font-size: 18px;
      font-family: 'tahoma', sans-serif;
    }

    textarea {
      // width: 100%;
      // height: 100%;
      width: $note-display-width;
      height: $note-display-height;

      resize: none;
      border: none;
      outline: none;

      font-size: 18px;
      font-family: 'tahoma', sans-serif;
    }
  }
}
